* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --layout-density-comfortable: 1.5rem;
  --layout-density-compact: 1rem;
}
[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --color-header-bg: #eed1f7;
  --color-post-bg: rgb(246, 237, 247);
  --color-btn-bg: rgb(240, 216, 240);
}

[data-theme="dark"] {
  --bg-color: rgb(73, 72, 72);
  --text-color: rgb(228, 225, 225);
  --color-header-bg: rgb(150, 44, 150);
  --color-post-bg: rgb(168, 70, 168);
  --color-btn-bg: rgb(202, 202, 200);
}
[data-font-size="small"] {
  font-size: var(--font-size-small);
}

[data-font-size="base"] {
  font-size: var(--font-size-base);
}

[data-font-size="large"] {
  font-size: var(--font-size-large);
}

[data-layout-density="comfortable"] {
  padding: var(--layout-density-comfortable);
}

[data-layout-density="compact"] {
  padding: var(--layout-density-compact);
}
[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --color-header-bg: #eed1f7;
  --color-post-bg: rgb(246, 237, 247);
  --color-btn-bg: rgb(240, 216, 240);
}

[data-theme="dark"] {
  --bg-color: rgb(73, 72, 72);
  --text-color: rgb(228, 225, 225);
  --color-header-bg: rgb(150, 44, 150);
  --color-post-bg: rgb(168, 70, 168);
  --color-btn-bg: rgb(202, 202, 200);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  font-weight:bold;
}
a:active {
  font-style: italic;
  background-color: #e2a9f3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main, nav {
  overflow: visible;
}
.flex {
  display: flex;
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.blog-header {
  padding: 3rem;
  background-color: var(--color-header-bg);
  border-bottom: 1px solid #e9ecef;
  border-radius: 5px;
  width: 100%;
}

/* Header Style */
.blog-header h1 {
  margin: 0;
  color: #333;
}

.blog-header nav ul {
  list-style: none;
  /* padding: 1rem; */
  display: flex;
  /* gap: 1rem; */
}

.blog-header nav a {
  text-decoration: none;
  color: #666;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
