.blogPost {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem 1.25rem;
    background: rgb(246, 237, 247);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .postExpand, .postAction {
    display: flex;
  }
  .postExpand:hover {
    box-shadow: 1px 1px 2px;
    cursor: pointer;
  }
  .blogPost:active {
    box-shadow: 2px 2px 2px 2px;
  }
  
  .postHeader {
    margin-bottom: 1.5rem;
  }
  
  .postTitle {
    font-size: 1.75rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
  }
  .postMeta {
    display: flex;
    gap: 1rem;
    color: #666;
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    justify-content: space-between;
  }
  .postContent {
    line-height: 1.6;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 330px; 
  }
  .postAction {
    display: inline-flex;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .blogPost {
      margin: 0.5rem;
      padding: 0.5rem;
    }
    .postTitle {
      font-size: 1.1rem;
      padding: 0;
    }
    .postMeta {
      /* flex-direction: column; */
      gap: 0.5rem;
      padding: 0;
    }
    .postContent {
      line-height: 1;
    }
  }